/* -------------------------------------------------默认样式--------------------------------------- */
/* 给页面加上100%高(去除头底) */
.main-content {
  background: #f5f5f5;
  height: calc(100vh - 94px);
  /* #ifdef MP-WEIXIN */
  height: 100vh;
  /* #endif */
}
.child-content{
  background: #f5f5f5;
  min-height: calc(100vh - 44px);
  /* #ifdef MP-WEIXIN */
  min-height: 100vh;
  /* #endif */
}
view,text,textarea,checkbox-group{
  box-sizing: border-box;
  color: #333333;
}
/* -----------------------------------------------功能模块，组合使用--------------------------------------- */
/* ==================== 功能区(参考督导列表页新增删除模块) ====== */
.gn{
    height: 86upx;
    padding: 18upx 0;
    position:sticky;
    top:calc(44px + 100upx);
    /* #ifdef MP-WEIXIN */
    top:100upx;
    /* #endif */
    background:#f5f5f5;
    .delete,.add,.check{
      width: 125upx;
      height: 50upx;
      border-radius: 25upx;
      margin-left:25upx;
      display: flex;
      justify-content:center;
      align-items: center;
    }
    .delete{
      border: solid 2upx #e64c48;
      color: #e64c48;
    }
    .add{
      margin-right: 25upx;
      border: solid 2upx #68ae1d;
      color: #68ae1d;
    }
  }
  /* ==================== 分页(参考整改工作切换整改协商模块) ====== */
	.pager {
    z-index: 10;
		height: 95upx;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-top: #dedede solid 2upx;
    position:sticky;
    top:calc(44px + 100upx);
    /* #ifdef MP-WEIXIN */
    top:100upx;
    /* #endif */
    background:#f5f5f5;
		.zg,.xs {
			width: 355upx;
			height: 65upx;
			text-align: center;
			line-height: 65upx;
			font-size: 28upx;
      color: #00bdfd;
      background-color: #d6f1fb;
		}
		.zg {
			border-radius: 10upx 0 0 10upx;
		}
		.xs {
			border-radius: 0 10upx 10upx 0;
		}
    .active{
      color: #d6f1fb;
			background-color: #00bdfd;
    }
	}
/* ==================== 列表(参考现场督导列表页) ====== */
.lists {
		padding: 18upx 20upx 0;
    /* padding : 0 20upx; */
		overflow: auto;
		.list {
			margin-bottom: 20upx;
			background: white;
			padding: 25upx;
			border-radius: 15upx;
			display: flex;
			flex-direction: row;
      label{
        display:inline-block;
      }
			.check {
				width: 50upx;
			}
			.info {
				flex-grow: 2;
        width:100%;
        .time{
          overflow: hidden;
					color: #999999;
					font-size: 26upx;
					margin: 10upx 0;
					view {
						color: #999999;
					}
				}
				.status {
					margin: 10upx 0 0;
					font-size: 24upx;
					.xswc .uni-tag {
						background-color: #dcf0c7;
						border-color: #dcf0c7;
						color: #68ae1d;
					}
					.xsz .uni-tag {
						background-color: #f7e6c1;
						border-color: #f7e6c1;
						color: #f27506;
					}
					.shys .uni-tag {
						background-color: #d6f1fb;
						border-color: #d6f1fb;
						color: #109dea;
					}
					.cl .uni-tag {
						border-color: #00bdfd;
						color: #00bdfd;
						font-size: 24upx;
					}
				}
			}
		}
	}
/* ==================== 自定义列表单元(参考督导-新增-督导纪实) ====== */
.ddjs-head {
  height: 55upx;
}
.ddjs-body {
  padding: 0 20upx;
  .time {
    text-align: right;
  }
}
/* -----------------------------------------------简写样式--------------------------------------- */
/* == clearfix == */
.clearfix:after {   /*在元素的内容之后插入新内容*/
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; /*元素不可见*/
}
.clearfix { /*元素后面添加清除浮动元素 用来清撑不出高*/
    zoom: 1;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{ /*规定元素左右两侧不允许有浮动*/
    clear: both;
}
.text-bold{
  font-weight: 900;
}
.color-999{
  color: #999999;
}
